#downloadAsJson {
  height: fit-content;
  align-self: center;
  background: #bc0f0f;
  color: white;
  border: 0;
  border-radius: 3px;
  padding: .5rem;
  cursor: pointer;
  z-index: 10;
  position: fixed;
  right: 10px;
  top: 20%;
}

.page-heading {
	position: relative;
}

#copiedMessage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background: indianred;
	color: white;
	text-align: center;
	display: none;
	
	&.show {
		display: block;
	}
}
